parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - */var/cache/*
        - */var/log/*
        - */vendor/*
        - */config/reference.php
